/* Asterisco seleciona todas as tags do HTML */
/* Todos os elementos da página */
*{
    margin: 0px;
    padding: 0px;
}
/* Elementos com o ID "titulo" */
#titulo{
    font-family: sans-serif;
    color: #f3edf8;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: #f3edf8;
    margin-left: 10%;
}
fieldset{
    border: 0px;
}
body{
    background-color: #464b4e;
    font-family: sans-serif;
    font-size: 1em;
    color: #f3edf8;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input,select,textarea,button{
    border-radius: 5px;
}

/* Elementos de classe "campo" */
.campo{
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label{
    margin-bottom: 0.2em;
    color: #f3edf8;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
/* Seleciona as tags dentro da class campo e filtra dentro da tag pelo tipo que consta em parenteses*/
/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #f3edf8;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option{
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #e0e0f8;
}

/* Elemento de classe "botao" */
.botao{
    font-size: 1.2em;
    background: #b972f3;
    border: 0px;
    margin-bottom: 1em;
    color: #242323;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 92%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao,select{
    cursor:pointer;
}
#check{
    display: inline-block;
}